.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .form input {
    margin-left: 1rem;
  }
  